Library/
UnityPackageManager/
Assets/__SANDBOX/
Assets/__SANDBOX.meta
Assets/LuaCodes/
Assets/LuaCodes.meta
Assets/FMODStudioCache.asset
Assets/FMODStudioCache.asset.meta
Assets/RefAssets/FMOD/*.bytes
Issets/
Temp/
obj/
obj.meta
*.log
*.sln
*.csproj
*.unityproj
*.DS_Store
*.userprefs
*.suo
Assets/StreamingAssets/
Assets/StreamingAssets.meta
*.sublime-workspace
*.sublime-project
.idea/
.vs/
*.DS_Store
*.pbxuser
*.xcuserstate
*.tmp
*.csv
__SANDBOX.meta
client/autofight/Assets/__SANDBOX
client/autofight/.vscode
